extends layout

block content
  .row.justify-content-center
    .col-12.col-lg-8
      .card
        .card-header.bg-primary.text-white
          h2.mb-0 Add New Contact
        
        .card-body
          form(action='/create', method='post')
            .row
              .col-12.col-md-6.mb-3
                label.form-label(for='first_name') First Name *
                input.form-control(type='text', id='first_name', name='first_name', required)
              
              .col-12.col-md-6.mb-3
                label.form-label(for='last_name') Last Name *
                input.form-control(type='text', id='last_name', name='last_name', required)
              
              .col-12.col-md-6.mb-3
                label.form-label(for='email_address') Email Address
                input.form-control(type='email', id='email_address', name='email_address')
              
              .col-12.col-md-6.mb-3
                label.form-label(for='phone_number') Phone Number
                input.form-control(type='text', id='phone_number', name='phone_number')
              
              .col-12.mb-3
                label.form-label(for='street') Street Address
                input.form-control(type='text', id='street', name='street')
              
              .col-12.col-md-4.mb-3
                label.form-label(for='city') City
                input.form-control(type='text', id='city', name='city')
              
              .col-12.col-md-4.mb-3
                label.form-label(for='state') State
                input.form-control(type='text', id='state', name='state')
              
              .col-12.col-md-4.mb-3
                label.form-label(for='zip') Zip Code
                input.form-control(type='text', id='zip', name='zip')
              
              .col-12.mb-3
                label.form-label(for='country') Country
                input.form-control(type='text', id='country', name='country')
              
              .col-12.mb-3
                h5 Contact Preferences
                .form-check.mb-2
                  input.form-check-input(type='checkbox', id='contact_by_email', name='contact_by_email')
                  label.form-check-label(for='contact_by_email') OK to contact by email
                
                .form-check
                  input.form-check-input(type='checkbox', id='contact_by_phone', name='contact_by_phone')
                  label.form-check-label(for='contact_by_phone') OK to contact by phone
              
              .col-12
                .d-flex.gap-2.justify-content-end
                  a.btn.btn-outline-secondary(href='/') Cancel
                  button.btn.btn-primary(type='submit') Add Contact
