doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title || 'Contact List App'
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css', rel='stylesheet')
  body.bg-light
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        a.navbar-brand(href='/')
          i.bi.bi-person-lines-fill.me-2
          | Contact Manager
        
        .navbar-nav.ms-auto
          if user
            span.navbar-text.text-light.me-3
              | Welcome, #{user.first_name}!
            form.d-inline(action='/logout', method='post')
              button.btn.btn-outline-light.btn-sm(type='submit') Logout
          else
            a.btn.btn-outline-light.btn-sm.me-2(href='/login') Login
            a.btn.btn-light.btn-sm(href='/signup') Sign Up
    
    main.container.my-4
      block content
    
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
