extends layout

block content
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      .card
        .card-header.bg-success.text-white.text-center
          h2.mb-0 Create Account
        
        .card-body
          if error
            .alert.alert-danger #{error}
          
          form(action='/signup', method='post')
            .row
              .col-12.col-md-6.mb-3
                label.form-label(for='first_name') First Name
                input.form-control(type='text', id='first_name', name='first_name', required)
              
              .col-12.col-md-6.mb-3
                label.form-label(for='last_name') Last Name
                input.form-control(type='text', id='last_name', name='last_name', required)
              
              .col-12.mb-3
                label.form-label(for='username') Username
                input.form-control(type='text', id='username', name='username', required)
              
              .col-12.mb-3
                label.form-label(for='password') Password
                input.form-control(type='password', id='password', name='password', required)
              
              .col-12.mb-3
                label.form-label(for='confirm_password') Confirm Password
                input.form-control(type='password', id='confirm_password', name='confirm_password', required)
              
              .col-12
                button.btn.btn-success.w-100(type='submit') Create Account
        
        .card-footer.text-center
          p.mb-0.text-muted
            | Already have an account? 
            a(href='/login') Login here
